.idea/
.DS_Store
.__pycache__/
feature_extraction/__pycache__/
llm/__pycache__/
db_manager/__pycache__/
pages/__pycache__/
auth/__pycache__/
.venv/

temp/
temp2/

.env
test.wav
test.py
test2.py
test3.py
output.json
user_data.json
empty_user_data.json
audio/output*.wav