openai-whisper~=20240930
numpy~=2.2.6
pandas~=2.3.0
matplotlib~=3.10.3
spacy~=3.8.7
benepar~=0.2.0
textstat~=0.7.7
typing~=3.7.4.3
nltk~=3.9.1
sentence-transformers~=4.1.0
scikit-learn~=1.7.0
openai~=1.94.0
Flask~=3.1.1
tqdm~=4.67.1
ollama~=0.5.1
requests~=2.32.4