argon2-cffi~=21.3.0
benepar~=0.2.0
flask~=3.1.1
matplotlib~=3.10.3
nltk~=3.9.1
numpy~=1.26.4
ollama~=0.5.1
openai-whisper~=20240930
openai~=1.94.0
pandas~=2.3.0
pyjwt~=2.10.1
python-dotenv~=1.1.0
requests~=2.32.4
scikit-learn~=1.7.0
sentence-transformers~=4.1.0
spacy~=3.8.7
textstat~=0.7.7
tqdm~=4.67.1
typing~=3.7.4.3
TTS~=0.22.0
pydub~=0.25.1
librosa~=0.10.0
torch~=2.7.1
scipy~=1.11.4
transformers~=4.52.4
